@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico para remover margens e paddings padrões */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Inclui bordas e preenchimentos no cálculo do tamanho total */
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #000;
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  min-height: 100vh; /* Garante que o body ocupa toda a tela. */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;/* centraliza horizontalmente */
  justify-content: center;/* centraliza verticalmente se houver espaço */
  padding: 40px 20px;
}
header{
    background: #0056b3;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-size: 2rem; /*1rem = 16px(padrão do navegador)*/
    font-weight: bold;
    border-bottom: 3px solid black; /* Linha inferior preta */
}
.introducao{
    background-color: #007bff;
    color: white;
    max-width: 600px;
    width: 100%;
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);  /* Sombra leve */
}
.links-uteis{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;/* Espaço igual em volta de cada item */
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.links-uteis a, .links-uteis a:visited{
   color: yellow;
   font-weight: bold;
   text-decoration: none;
}
.links-uteis a:hover{
    text-decoration: underline; /* Adiciona sublinhado */
    color: #fff;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap; /* Quebra linha se não couber */
}
.card{
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(0,0,0,0.2);
}
.card1{
    background-color: #ffb3c1;
}
.card2{
    background-color: #ffe0b3;
}
.card3{
    background-color: #ffffcc;
}
footer{
    margin-top: auto;
    border-top: 3px solid black; /* Linha superior */
    background-color: #f2f2f2;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}


