@charset "UTF-8";

body{
    font-family: "Century Gothic", sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;

}
form{
    width:90%;
    max-width: 600px; /*Difine a largura maxima*/
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px; /*Arredonda os cantos*/
    
}
fieldset {
    border: none; /* Remove a borda */
    margin-bottom: 20px;
    padding: 0;
}

legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px; /*Define a margem inferior de um elemento*/
    padding: 0 5px;
    color:#007bf3;
    border-left: 4px solid black; /* Destaque com barra lateral preta */
}

.inscricao input, .inscricao textarea, .inscricao select{
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Define uma borda fina*/
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box; /*Faz com que o padding e a borda sejam incluídos no valor total da largura (width).*/
}
.inscricao textarea{
    height: 120px;
    resize: none;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 15px; /*Define o tamanho do espaço entre linhas e colunas*/
    margin-bottom: 10px 0;
}
.checkbox label{
    display: flex;
    align-items: center;
    font-size: 14px;

}
.inscricao button{
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;

}
.inscricao button:hover{
    background-color: #0056b3;
}

footer{
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: #666;
}

