<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas NodeJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.4/dist/sweetalert2.min.css">
    <link href="/public/style.css" rel="stylesheet">
  
    
</head>

<body class="container">

    <div class="tarefas">
        <h3>TODOLIST NODE</h3>
        <form class="d-flex" method="post" onsubmit="return validarFormulario()">
            <input type="text" class="form-control" name="task" id="task" />
            <input type="submit" name="acao" class="btn btn-primary"    value="Inserir" />
        </form>

        <% for(let i=0; i < tasksList.length; i++){%>
            <p>
                <%= tasksList[i] %> | <a href="/deletar/<%= i %>"><i class="bi bi-trash"></i></a>
            </p>
            <% } %>
    </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   

</body>
<script>
    function validarFormulario(){
        var tarefa = document.getElementById("task").value;
        if(tarefa.trim() === ''){
            swal({
            title: "Atenção!",
            text: "O campo tarefa não pode estar vazio.",
            icon: "warning",
            });
            return false; // Evita o envio do formulário se o campo estiver vazio
        }
        return true; // Permite o envio do formulário se o campo estiver preenchido
    }
</script>

</html>